<!DOCTYPE html>
<html>
  <head>
    <title>Livecoding</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet"> 
  </head>


  <%
=begin%>
 - colocar os arquivos do bootstrap aqui
  - reformular um tiquinho os forms de login e autenticacao

  - criar menu em cima
  - migracao para receitas
  - colocar no menu
  - mostrar todas as telas e acoes
  - melhorar ui
  - migracao para despesas
  - colocar no menu
  - mostrar todas as telas e acoes
  - melhorar ui
  - na home, fazer query para mostrar o total de receitas menos despesas
  - colocar classe css condicionalmente se tiver negativo ou positivo

  - fazer grafico na home
  - fazer action cable na home 
<%
=end%>

  <body class="bg-base">
    <% if !user_signed_in? %>
      <%= yield %>
    <% else %>
      <div class="container">
        <div class="row justify-content-between">
          <h4>Bem-vindo, <%= current_user.first_name %>!</h4>
          <nav class="nav row">
            <%= link_to "Home", root_path, class: current_page?(root_path) ? 'nav-link bg-primary text-light' : 'nav-link'  %>
            <%= link_to "Receitas", incomes_path, class: current_page?(incomes_path) ? 'nav-link bg-primary text-light' : 'nav-link'  %>
            <%= link_to "Despesas", expenses_path, class: current_page?(expenses_path) ? 'nav-link bg-primary text-light' : 'nav-link'  %>
            <%= link_to('Sair', destroy_user_session_path, method: :delete, class: "nav-link") %>
          </nav>
        </div>
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
